@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  height: 4rem;
  background: rgb(44, 44, 44);
  justify-content: center;
  z-index: 100;
  box-shadow: 0 10px 10px rgba(127, 127, 127, 0.715);
}

.title {
  margin-top: 0;
  margin: 1.4rem;
  color: #f7f7f7;
  /* color: rgb(224, 85, 85); */
}

.nav {
  background: rgb(44, 44, 44);
  width: 100%;
  justify-content: right;
  display: flex;
}

.nav a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  margin: 1.6rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav a:hover {
  color: rgb(224, 85, 85);
}

.nav select {
  cursor: pointer;
  background: rgb(44, 44, 44);
  border: none;
  width: auto;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 500;
  margin: 1.6rem;
}

.nav select option {
  background-color: red;
  height: 3rem;
}

.nav button {
  all: unset;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  color: #f6f4e6;
  margin: 1.6rem;
  font-weight: 500;
}

.active {
  color: #4d96f6;
}
